services:
  app:
    build: .
    container_name: entrytracker-app
    ports:
      - "5000:5000"
    depends_on:
      - mysql
    networks:
      - entrytracker

  mysql:
    image: mysql:5.7
    container_name: mysql
    environment:
      - MYSQL_DATABASE=${MYSQL_DATABASE}    
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}       
    ports:
      - "3306:3306"
    networks:
      - entrytracker
    volumes:
      - db-data:/var/lib/mysql      
      
networks:
  entrytracker:
    name: entrytracker

volumes:
  db-data:    


  
  
  
  
