name: Entrytrack CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# CI
jobs:
  job1:
   - name: Unit test
    # This workflow contains a single job called "build"
    runs-on: ubuntu-latest
    
    steps:
      # Checks out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4
      
      # Install Runner updates
      - name: Install updates
        run: sudo apt-get update -y

      # Install Flask and pymysql
      - name: Install Flask and pymysql
        run: pip install -r ./entryTracker/requirements.txt
        
      # Run application on Backround
      - name: Run application
        run: python3 ./entryTracker/app.py &
                
      # Check if application is up
      - name: Application check
        run: curl http://localhost:5000

  job2:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    needs: job1
    # Set environment variables using secrets
    env:
      MYSQL_DATABASE: ${{ secrets.MYSQL_DATABASE }}
      MYSQL_ROOT_PASSWORD: ${{ secrets.MYSQL_ROOT_PASSWORD }}
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      # Run Docker Compose
      - name: Run docker compose file
        run: docker compose up -d
        
      # Wait 15 seconds for the application to start
      - name: Wait 15 seconds
        run: sleep 15
        
      # Check if application, database and nginx is up
      - name: Check
        run: curl -XGET http://localhost:80
        
      # Connect to ECR via access key
      - name: Connect to ECR
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1
      #  Push the app Image to ECR       
      - name: Tag and Push Docker image
        run: | 
             aws ecr get-login-password --region ap-south-1 | docker login --username AWS --password-stdin 886436956602.dkr.ecr.ap-south-1.amazonaws.com
             VERSION=$(date +%Y%m%d%H%M%S)-${GITHUB_SHA:0:7}
             docker tag entrytracker-app:latest 886436956602.dkr.ecr.ap-south-1.amazonaws.com/entrytracker/app:$VERSION
             docker push 886436956602.dkr.ecr.ap-south-1.amazonaws.com/entrytracker/app:$VERSION
      #CD
  job3:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    needs:
      - job1
      - job2
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4
      # Connect to EC2 via SSH and resrart docker compose with new version  <!-- If the instance is stopped and started again, please update line 94 -->
      - name: Set up SSH and Connect to EC2
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.MY_SECRET_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh -o StrictHostKeyChecking=no -i ~/.ssh/id_rsa ubuntu@ec2-65-2-126-28.ap-south-1.compute.amazonaws.com << EOF   
          cd /opt/entrytracker
          sudo docker compose down
          sudo docker compose up -d
          EOF
                    
        
        
